<strong>Olá, {{ user.name }} </strong>
<p>Sua compra de {{transaction.transaction.amount}} bitcoins (BTC) no valor de R$ {{transaction.amount}} foi confirmada!</p>
<p>
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
    O saldo está disponível para novos investimentos!
  </small>
</p>
