<strong>Olá, {{ user.name }} </strong>
<p>O seu depósito no valor de R$ {{transaction.amount}} foi confirmado!</p>
<p>
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
    O saldo está disponível para novos investimentos!
  </small>
</p>
