<strong>Olá, {{ user.name }} </strong>
<p>Sua venda de {{transactions.total_liquidated_amount}} bitcoins (BTC) no valor de R$ {{transactions.total_credited_amount}} foi confirmada!</p>
<p>
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
</p>
